html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Sen',sans-serif;
}

.logo{
	float:left;
	margin-top:-6px;
	margin-left: 83px;
	margin-right: 691px;
}
img {
	max-width: 100%;
	height: auto;
}
.hero{
	background-image: url(../assets/homehero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 720px;
}
.main-header {
	padding-top: 20px;
    padding-bottom: 20px;
	background: #232536;
}

.main-header ul {
	float:left;
	list-style: none;
}
.main-header ul li {
	float:left;
	margin-right: 24px;
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
	color: #FFFFFF;
	margin-top: -4px;
}

.hero-text1 .ff {
	color: #232536;
}
.hero-text1 {
	width: 45%;
	float: left;
	display: inline-block;
	padding-right: 60px;
}
.blogpic {
	width: 45%;
	float: left;
	padding-top: 120px;
	display: inline-block;
	padding-right: 80px;
}

.btn{
	text-decoration: none;
	font-weight: 700;
    font-size: 18px;
    line-height: 24px;
	color: #232536;
	background: #FFFFFF;
	padding: 14px 45px;
	gap: 12px;
	margin-top:12px;
}


.container {
    max-width: 1170;
    width: 100%;
    margin:0 auto;
}
.block {
	float: left;
	width: 100%;
}
.ggg{
	margin-left: 81px;
}
.heroParagraf1 {
	font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
	margin-bottom: 24px;
	padding-top: 128px;
}

.heroh1{
	font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #FFFFFF;
	margin-bottom: 24px;
}

.heroParagraf2 {
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
	margin-bottom: 16px;
}

.heroParagraf3 {
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
	margin-bottom: 48px;
}

.btn--yellow {
	background: #FFD050;
}

.second--container {
 margin:128px 0 0 0;

}


.firstrow , .secondrow {
	width:45%;
	float: left;
}

.firstrow {
	padding-right: 32px;
	padding-left: 20px;
}

.jondeo{
	font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4C4C4C;
	padding-bottom: 16px;
}

.news__ {
	font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
	padding-bottom: 25px;
}

.news__:hover{
	background: #FBF6EA;
}

.fa--post{
	font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
	padding-bottom: 32px;

}

.sub--header{
	font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
	padding-bottom: 16px;
}

.sub--paragraf {
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
	padding-bottom: 32px;
}
.secondpic {
	padding:32px 0;
}

.rightjons {
	padding-top: 32px;
	padding-bottom: 8px;
}
.ab--paragraf{
	font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
	padding: 96px 0 24px 0px;
}

.third--h3 {
	font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
	margin: 0px 0px 16px 0px;
}
.third--container {
	margin-bottom: 139px;
}

.third--lorem--paragraph {
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
	margin: 0px 0px 16px 0px;
}

.sub-sub--section {
	background-color:black;
}

.four--copa {
	width: 20%;
	float:left;
	display: inline-block;
}

.four--copa:hover {
	background: #FFD050;
}
.fourth--h3 {
	margin-top: 139px;
	text-align: center;
	font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
	padding-bottom: 48px;
}

.fourth--container {
	margin-top: 139px;
}
footer {
    width: 1440px;
    height: 560px;
    background: #232536;
  }
  footer .main-nav{
  }
  .bg{
     width: 100%;
     height: 560px;
      background: #232536;
  }
  .footer-text{
    color: #FFFFFF;
  
  }
  .footer-hero{
  background: #ffffff09;
  height: 256px;
  margin-left: 80px;
  margin-right: 80px;
  
  }
  
  
  .footer-text ul{
    float: left;
    margin-top: 80px;
    list-style: none;
    padding-top: 16px;
  }
  .footer-text li {
    float: left;
    margin-right: 10px;
  }
  .footer-text li a{
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    
  }
  .footer-text .text{
    width: 602px;
    height: 96px;
    
  }
  .footer-text .btn--yellow{
    margin-top: -0px;
  }
  .footer-text #email{
  width: 303px;
  height: 56px;
  left: 770px;
  top: 228px;
  background: none;
  border: 1px solid #4C4C4C;
  padding: 14px;
  
  }
  .last{
    width: 300px;
    margin: 0 80px;
    margin-bottom: 40px;
  }
  

.ikonat {
	padding-bottom: 8px;
}

.emrat_logo {
	font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    color: #232536;
	padding-bottom: 4px;
}

.pershkrimi--logo {
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}
.fourth--container {
	display: inline-block;
	margin:0 auto;
}
.one--fourth {
	margin-left: 200px;
	padding-top: 0;
}

.fff {
	width: 50%;
	float: left;
}

.teksi--djathas {
	margin-left: -331px;
	margin-top: 128px;
	background-color: white;
	padding-left: 30px;
	padding-bottom: 100px;
}
.foto--majtas {
	margin-left: 95px;
}
.fifth--container {
	margin-top: 100px;
}

.kkk {
	float: left;
}
.logowrapper {
	margin-top: 96px;
	margin-left: 94px;
	margin-right: 100px;
	
}
.weare {
	font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6D6E76;
    opacity: 0.6;
}
.featuredin{
	font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6D6E76;
}

.pldhteksti {
	padding-right: 86px;
}

.test-wrapper {
    display: inline-block;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    background: #FBF6EA;
    padding-top: 138px;
    padding-bottom: 126px;
    padding-left: 96px;
    padding-right: 190px;
}

.test--majtas ,.test--djathtas {
    display: inline-block;
    float:left;
}

.test--majtas {
    width: 30%;
    border-right: 1px solid #6D6E76;
    padding-right: 78px;
}
.test--djathtas {
    width: 40%;
    padding-left: 96px;
}
.test-wrapper .p {

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
    padding-bottom: 12px;
}

.test-wrapper h4{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #232536;
    padding-bottom: 16px;
}

.test-wrapper p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.test-wrapper h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.join--team {
    width: 27%;

    margin: 106px auto;
}

.join--team h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #232536;
    padding-bottom: 16px;
}

.join--team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #6D6E76;
    padding-bottom: 32px;
    text-align: center;
}

.join--team a {
    margin-left: 110px;
}

.navi {
	padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;

}
.logoo {
    margin-right:0px;
}
.navi ul {
	float:left;
	list-style: none;
}
.navi ul li {
	float:left;
	margin-right: 24px;
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
	color: white;
	margin-top: -4px;
}

.footeri {
    padding-top: 50px;
    width:98vw;
    display: inline-block;
    background: #232536;
}
.logoo {
    margin-top:-6px;
	margin-left: 83px;
	margin-right: 691px;
}

.sdi {
    display: inline-block;
    float: left;
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: rgba(0,0,0,0.5);
    padding-right: 80px;
    padding-left: 80px;
    margin-bottom: 80px;
    
}

.sdi h3 {
    display: inline-block;
    width: 50%;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    align-items: center;
    letter-spacing: -2px;
    color: #FFFFFF;
}

.sdi input {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    color: #6D6E76;
    padding: 10px;
    background-color: transparent;
    border-style: 1px white;
}

.knkt {
    margin-left: 80px;
    padding-bottom: 56px;
}

.knkt {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    
}